/* este ficheiro serve para estilizar os elementos do site */


/**** GLOBAL ****/

body {
   background-color: #121212;
   font-family: 'Roboto', sans-serif;
   margin: 0;
}

h1,
h2,
h3,
h4 {
   color: #f2f2f2;
   font-family: 'Kulim Park', sans-serif;
   text-align: center;
}

p {
   color: #f2f2f2;
   font-family: 'Roboto', sans-serif;
   text-align: justify;
}


/**** PRINCIPAL ****/

.main-without-sidebar {
   margin-right: 0px;
   opacity: 1;
   transition: margin-right 0.5s;
}

.main-with-sidebar {
   margin-right: 256px;
   opacity: 0.5;
   transition: margin-right 0.5s;
}


/**** CABEÇALHO ****/

.header {
   background-color: #1F1F1F;
   display: inline-block;
   height: 100%;
   width: 100%;
}

.header img {
   float: left;
   height: 50px;
   width: 50px;
}

.header h3 {
   display: inline-block;
   margin: 0;
   padding: 14px 16px;
   text-decoration: none;
}

.header .fa-star {
   color: #a946ffe3;
}


/**** PESQUISA ****/

.search-form {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.search-content {
   background-color: #252525;
   border: unset;
   border-bottom-left-radius: 4px;
   border-right: 1px solid #3d3d3d;
   border-top-left-radius: 4px;
   font-size: 13px;
   padding: 10px;
   width: 16%;
}

.search-text {
   background-color: #252525;
   border: unset;
   border-right: 1px solid #3d3d3d;
   color: #e0e0e0;
   font-size: 13px;
   padding: 10px 10px 10px 14px;
   width: 16%;
}

.search-result {
   background-color: #252525;
   border: unset;
   border-right: 1px solid #3d3d3d;
   font-size: 13px;
   padding: 10px;
   width: 18%;
}

.search-number {
   background-color: #252525;
   border: unset;
   color: #e0e0e0;
   font-size: 13px;
   padding: 10px 10px 10px 14px;
   width: 12%;
}

select:required:invalid {
   color: gray;
}

select:required:valid {
   color: #e0e0e0;
}

input:focus,
select:focus {
   box-shadow: none;
   outline: none;
}

option {
   color: #e0e0e0;
}

option[value=""][disabled] {
   display: none;
}


/**** SLIDESHOW ****/

.slideshow {
   margin: 10px 0px;
}

.slideshow-image {
   display: none;
   width: 100%;
}


/**** RESULTADOS DA PESQUISA ****/

.cards {
   display: none;
   flex-direction: column;
   padding: 30px 0px;
}

.card {
   align-self: center;
   background-color: #313131;
   border-radius: 4px;
   margin: 2px;
   width: 90%;
}

.video-embed {
   height: 300px;
   width: 100%;
}

.card-header {
   display: flex;
   flex-direction: row;
}

.card img {
   height: 250px;
   width: 100%;
}

.card h3 {
   margin: 15px 0px;
   width: 100%;
}

.card a {
   color: #f2f2f2;
   text-decoration: none;
}

.card a:hover {
   color: #a946ffe3;
}

.card p {
   text-align: justify;
   font-size: 13px;
   line-height: 1.4;
   text-align: left;
   word-spacing: 3px;
}

.card-elements {
   padding: 20px 10px;
}

.tag {
   border-radius: 20px;
   float: right;
   font-family: 'Kulim Park', sans-serif;
   font-size: 12px;
   margin: 2px;
   padding: 7px;
   text-align: center;
}

.tag-music {
   border: 1px solid #6df9f3;
   color: #6df9f3;
}

.tag-movie {
   border: 1px solid #b66df9;
   color: #b66df9;
}

.tag-show {
   border: 1px solid gold;
   color: gold;
}

.tag-book {
   border: 1px solid #f9d46d;
   color: #f9d46d;
}

.tag-author {
   border: 1px solid #f98d6d;
   color: #f98d6d;
}

.tag-game {
   border: 1px solid #836df9;
   color: #836df9;
}

.tag-podcast {
   border: 1px solid #a9f96d;
   color: #a9f96d;
}


/**** RODAPÉ ****/

.footer {
   background-color: #1F1F1F;
   color: black;
   display: flex;
   height: 50px;
   text-align: center;
}

.footer-first,
.footer-third {
   width: 25%;
}

.footer-second {
   font-size: 10px;
   height: fit-content;
   letter-spacing: 3px;
   position: relative;
   transform: translateY(8px);
   width: 50%;
}

.footer-second p {
   text-align: center;
}


/**** FAVORITOS ****/

.favorites {
   display: inline-block;
   background-color: #111;
   height: 100%;
   overflow-x: hidden;
   padding-top: 60px;
   position: fixed;
   right: 0;
   top: 0;
   transition: 0.5s;
   width: 0;
}

.favorites a {
   color: #818181;
   display: block;
   font-size: 25px;
   margin: 5px 5px 5px 32px;
   text-decoration: none;
}

.favorites a:hover {
   color: #f1f1f1;
   cursor: pointer;
}

.favorites-items {
   background-color: #313131;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   margin-bottom: 55px;
   overflow-x: hidden;
   width: 100%;
}

.favorite {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 18px;
}

.favorite-title {
   margin: 18px 8px 15px 8px;
}

.favorite .tag {
   margin: 15px 8px 15px 8px;
}


/**** BOTÕES ****/

.btn {
   background-color: #484848;
   border: unset;
   color: #e0e0e0;
   cursor: pointer;
   font-size: 14px;
   padding: 10px 14px;
   text-decoration: none;
}

.btn:focus {
   outline: 0;
}

.btn-open {
   border-radius: 4px;
   float: right;
   height: 35px;
   margin-right: 5px;
   padding: 10px 14px;
   transform: translateY(8px);
}

.btn-open:hover {
   background-color: #313131;
}

.btn-close {
   position: absolute;
   right: 8px;
   top: 8px;
}

.btn-del {
   margin: 0px 9px 0px 9px;
   flex-basis: 100%;
}

.btn-del:hover {
   background-color: #5a5a5a;
}

.btn-main-search {
   background-image: linear-gradient(to right, #8700ff 0%, #9821ffe3 51%, #8e21ffa3 100%);
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}

.btn-main-search:hover {
   background-image: linear-gradient(to right, #9925ff 0%, #a946ffe3 51%, #aa59fda3 100%);
}

.btn-card {
   border-radius: 4px;
   height: 35px;
   margin: 5px 0px 10px 2px;
   width: 45px;
}

.btn-card:hover {
   background-color: #5a5a5a;
}

.btn-up {
   float: right;
   border-radius: 4px;
   margin-right: 6px;
   position: relative;
   transform: translateY(7px);
}

.btn-up:hover {
   background-color: #313131;
}

.btn-github {
   float: left;
   border-radius: 4px;
   margin-left: 6px;
   position: relative;
   transform: translateY(7px);
}

.btn-github:hover {
   background-color: #313131;
}


/**** ÍCONES ****/

.fa-star {
   color: white;
}

.fa-search {
   color: white;
   font-size: 12px;
}

.fa-chevron-up {
   color: white;
   font-size: 15px;
}


/**** SCROLLBARS ****/

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-track {
   background: #616161;
}

::-webkit-scrollbar-thumb {
   background: #1f1f1f;
}

::-webkit-scrollbar-thumb:hover {
   background: #2b2b2b;
}


/**** PARA TABLETS ****/

@media screen and (max-height: 450px) {
   .search form {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
   }
   .search-content,
   .search-text,
   .search-result,
   .search-number,
   .btn-main-search {
      width: 100%;
      border-right: none;
   }
   .search-content {
      border-bottom: 1px solid #3d3d3d;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 0px;
   }
   .search-text {
      border-bottom: 1px solid #3d3d3d;
   }
   .search-result {
      border-bottom: 1px solid #3d3d3d;
   }
   .btn-main-search {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 4px;
   }
   .favorite {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
   }
   .favorite-title {
      margin: 18px 8px 0px 8px;
   }
   .favorite .tag {
      flex-basis: 100%;
      margin: 15px 40% 15px 40%;
   }
}


/**** PARA SMARTPHONES ****/

@media only screen and (max-width:620px) {
   section * {
      max-width: 100%;
   }
   .card section {
      display: block;
   }
   .card div {
      margin: 0 0 20px 0;
   }
   .card-header {
      flex-wrap: wrap;
      justify-content: center;
   }
}