/**** GLOBAL ****/

#main {
   font-family: 'Roboto', sans-serif;
}

body {
   background-color: #121212;
   margin: 0;
}

h1,
h2,
h3,
h4 {
   color: #f2f2f2;
   font-family: 'Kulim Park', sans-serif;
   text-align: center;
}

p {
   color: #f2f2f2;
   font-family: 'Roboto', sans-serif;
   text-align: justify;
}


/**** CABEÇALHO ****/

.header {
   background-color: #1F1F1F;
   display: inline-block;
   height: 100%;
   width: 100%;
}

.header img {
   float: left;
   height: 50px;
   width: 50px;
}

.header h3 {
   display: inline-block;
   margin: 0;
   padding: 14px 16px;
   text-decoration: none;
}


/**** FAVORITOS ****/

.favorites {
   background-color: #111;
   height: fit-content;
   overflow-x: hidden;
   padding-top: 60px;
   position: absolute;
   right: 0;
   top: 0;
   transition: 0.5s;
   width: 0;
   z-index: 1;
}

.favorites a {
   color: #818181;
   display: block;
   font-size: 25px;
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   transition: 0.3s;
}

.favorites a:hover {
   color: #f1f1f1;
   cursor: pointer;
}

.favorites-items {
   background-color: #313131;
   border-radius: 4px;
   height: 100%;
   overflow-x: hidden;
   padding: 10px 10px 0px 8px;
   width: 100%;
}

.favorite {
   height: 110px;
   text-align: center;
}

.favorite-title {
   float: left;
   margin: 10px 10px 10px 0px;
}

.favorite .tag {
   margin: 6px 14px 10px 10px;
}


/**** PESQUISA ****/

.search-form {
   display: flex;
   justify-content: center;
   margin: 10px 0;
}

.search-content {
   background-color: #252525;
   border: unset;
   border-bottom-left-radius: 4px;
   border-right: 1px solid #3d3d3d;
   border-top-left-radius: 4px;
   font-size: 13px;
   padding: 10px;
   width: 13%;
}

.search-text {
   background-color: #252525;
   border: unset;
   border-right: 1px solid #3d3d3d;
   color: #e0e0e0;
   font-size: 13px;
   padding: 10px;
   width: 15%;
}

.search-result {
   background-color: #252525;
   border: unset;
   border-right: 1px solid #3d3d3d;
   font-size: 13px;
   padding: 10px;
   width: 15%;
}

.search-number {
   background-color: #252525;
   border: unset;
   border-right: 1px solid #3d3d3d;
   color: #e0e0e0;
   font-size: 13px;
   padding: 10px;
   width: 10%;
}

select:required:invalid {
   color: gray;
}

select:required:valid {
   color: #e0e0e0;
}

input:focus,
select:focus {
   box-shadow: none;
   outline: none;
}

option {
   color: #e0e0e0;
}

option[value=""][disabled] {
   display: none;
}


/**** SLIDESHOW ****/

.slideshow-image {
   display: none;
   width: 100%;
}


/**** RESULTADOS DA PESQUISA ****/

.cards {
   display: grid;
   padding: 40px;
}

.card {
   align-items: center;
   align-self: center;
   background-color: #313131;
   border-radius: 4px;
   justify-self: center;
   margin: 2px;
   width: 80%;
}

.card img {
   height: 250px;
   width: 100%;
}

.card p {
   font-family: 'Kulim Park', sans-serif;
   font-size: 12px;
   text-align: left;
}

.card h3 {
   font-size: 18px;
   margin-bottom: 8px;
}

.card h4 {
   font-size: 15px;
   margin-top: 8px;
}

.card-elements {
   padding: 20px 10px;
}

.tag {
   border-radius: 20px;
   float: right;
   font-family: 'Kulim Park', sans-serif;
   font-size: 12px;
   margin: 2px;
   padding: 7px;
   text-align: center;
}

.tag-music {
   border: 1px solid #6df9f3;
   color: #6df9f3;
}

.tag-movie {
   border: 1px solid #b66df9;
   color: #b66df9;
}

.tag-show {
   border: 1px solid gold;
   color: gold;
}

.tag-book {
   border: 1px solid #f9d46d;
   color: #f9d46d;
}

.tag-author {
   border: 1px solid #f98d6d;
   color: #f98d6d;
}

.tag-game {
   border: 1px solid #836df9;
   color: #836df9;
}

.tag-podcast {
   border: 1px solid #a9f96d;
   color: #a9f96d;
}

.video-embed {
   height: 300px;
   width: 100%;
}

.wiki {
   color: white;
   font-size: 12px;
   font-weight: bolder;
   text-decoration: none;
}

.wiki:link {
   color: #6f6f6f;
}

.wiki:hover {
   color: #ccc;
}

.wiki:visited {
   color: #6f6f6f;
}


/**** RODAPÉ ****/

.footer {
   background-color: #1F1F1F;
   color: black;
   display: flex;
   height: 50px;
   text-align: center;
}

.footer-first,
.footer-third {
   width: 25%;
}

.footer-second {
   font-size: 10px;
   height: fit-content;
   letter-spacing: 3px;
   position: relative;
   transform: translateY(8px);
   width: 50%;
}

.footer-second p {
   text-align: center !important;
}


/**** BOTÕES ****/

.btn {
   background-color: #484848;
   border: unset;
   color: #e0e0e0;
   cursor: pointer;
   font-size: 14px;
   padding: 10px 14px;
   text-decoration: none;
}

.btn:focus {
   outline: 0;
}

.btn-open {
   border-radius: 4px;
   float: right;
   height: 35px;
   margin-right: 6px;
   transform: translateY(8px);
}

.btn-open:hover {
   background-color: #313131;
}

.btn-close {
   position: absolute;
   right: 8px;
   top: 8px;
}

.btn-del {
   border-radius: 4px;
   margin: 15px 15px 15px 0px;
   width: 95%;
}

.btn-del:hover {
   background-color: #5a5a5a;
}

.btn-search {
   background-image: linear-gradient(to right, #8700ff 0%, #9821ffe3 51%, #8e21ffa3 100%);
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}

.btn-search:hover {
   background-image: linear-gradient(to right, #9925ff 0%, #a946ffe3 51%, #aa59fda3 100%);
}

.btn-card {
   border-radius: 4px;
   float: right;
   height: 35px;
   margin: 1px;
   width: 45px;
}

.btn-card:hover {
   background-color: #313131;
}

.btn-up {
   float: right;
   border-radius: 4px;
   margin-right: 6px;
   position: relative;
   transform: translateY(7px);
}

.btn-up:hover {
   background-color: #313131;
}


/**** ÍCONES ****/

.fa-star {
   color: white;
}

.fa-search {
   color: white;
   font-size: 12px;
}

.fa-chevron-up {
   color: white;
   font-size: 15px;
}


/**** SCROLLBARS ****/

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-track {
   background: #616161;
}

::-webkit-scrollbar-thumb {
   background: #1f1f1f;
}

::-webkit-scrollbar-thumb:hover {
   background: #2b2b2b;
}


/**** PARA TABLETS ****/

@media screen and (max-height: 450px) {
   .favorites {
      padding-top: 15px;
   }
   .favorites a {
      font-size: 18px;
   }
}


/**** PARA SMARTPHONES ****/

@media only screen and (max-width:620px) {
   .search form {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
   }
   .search-content {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 0px;
   }
   .search-content,
   .search-text,
   .search-result,
   .search-number,
   .btn-search {
      width: 100%;
   }
   .btn-search {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 4px;
   }
   .footer-first {
      display: none;
   }
   .footer-second {
      float: left;
      margin-left: 12px;
      text-align: start;
      width: 100%;
   }
   .card section {
      display: block;
   }
   .card div {
      margin: 0 0 40px 0;
   }
   section * {
      max-width: 100%;
   }
}